.container {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
}

.block {
  border: 5px solid #fff;
  position: relative;
  width: 1200px;
  padding: 40px 30px 200px;
}

.img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  float: left;
  border-radius: 10px;
  margin-bottom: 50px;
}

.title-cart {
  font-size: 30px;
}

.category-cart {
  font-size: 20px;
}

.price-cart {
  font-size: 30px;
}

.info {
  text-align: center;
}
